{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
    {% include svg-defs.svg %}
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    {% include header.html %}
 
        {{ content }}
           
    {% include footer.html %}
    
    {% if site.analytics %}
        {% include analytics.html %}
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcaHaJxvZpPC9PKxhXzUyvACV0VSZ0OyA&sensor=false"></script>
    <script src="{{ site.baseurl }}/js/all.min.js"></script>
    <script src="{{ site.baseurl }}/js/jQuery-Mask-Plugin/dist/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.cpf').mask('000.000.000-00', { reverse: true });
            $('.cnpj').mask('00.000.000/0000-00', { reverse: true });
            $('.rg').mask('99.999.999-9', { reverse: true });

            var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };
            
            $('.sp_celphones').mask(SPMaskBehavior, spOptions);

            $('#form').on('submit', function(e){ 
                e.preventDefault();

                $.ajax({
                    dataType: 'jsonp',
                    url: "https://getsimpleform.com/messages/ajax?form_api_token={{ site.api_token }}",
                    data: $('#form').serialize()
                }).done(function () {
                    alert("Obrigado!");
                });
            })
        });
    </script>

</body>
</html>
